body {
    background-image: url('1.png');
    background-size: cover;
    /* A opacidade da imagem de fundo não pode ser alterada diretamente no CSS */
    /* Para criar um efeito de opacidade, adicione um overlay ou ajuste a imagem diretamente */
}

a {
    text-decoration: none;
    color: hsl(340, 72%, 59%);
}

a:hover {
    text-decoration: underline;
    color: rgb(157, 102, 44);
}

.menu {
    background: rgb(0, 0, 0);
}

.menu ul {
    display: flex; /* Organiza itens em linha */
    flex-direction: row;
    justify-content: flex-start;
    padding: 0; /* Remove o padding padrão da lista */
    margin: 0; /* Remove a margem padrão da lista */
    list-style: none; /* Remove os pontos */
}

.menu li {
    margin: 0; /* Remove a margem padrão dos itens de lista */
}

.menu a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    background: rgb(84, 52, 11); /* Fundo ao passar o mouse */
    color: rgb(246, 94, 155); /* Define a cor do link ao passar o mouse */
}
