body {
    background-color: rgb(255, 201, 218);
}

a {
    text-decoration: none;
    color: hsl(340, 72%, 59%);
}

a:hover {
    text-decoration: underline;
    color: rgb(225, 126, 126);
}
.menu{
background: rgb(218, 152, 152);
}
.menu ul{
    display: flex; /*organizar itens */
    flex-direction:row;
    justify-content: flex-start;
}
.menu li{
    list-style:none;
}
a{
    text-decoration:none;
    color: rgb(246, 94, 155)
}
a:hover{
    text-decoration:underline;
}