body {
    background-image: url('1.png');
    background-size: cover;
    /* A opacidade da imagem de fundo não pode ser alterada diretamente no CSS */
    /* Para criar um efeito de opacidade, adicione um overlay ou ajuste a imagem diretamente */
}

a {
    text-decoration: none;
    color: hsl(340, 72%, 59%);
}

a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.menu {
    display: flex; /* Organiza os itens do menu em linha */
    justify-content: center; /* Centraliza o menu horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    background-color: rgba(252, 227, 240, 0.8); /* Cor de fundo da caixa do menu com transparência */
    padding: 5px; /* Espaçamento interno do menu */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}
.menu li {
        margin: 0 15px; /* Espaçamento entre os itens do menu */
        list-style: none; /* Remove o estilo de lista padrão */
}
.menu a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    color: rgb(246, 94, 155); /* Define a cor do link ao passar o mouse */
}
.img {
    position: fixed; /* Posicionamento absoluto em relação ao body */
    top: 200px; /* Distância do topo da página */
    left: 100px; /* Distância da esquerda da página */
    width: 300px; /* Largura da imagem */
    height: auto; /* Manter a proporção da imagem */
}